---
export const prerender = false;
import { actions } from "astro:actions";
import { DeleteCategory } from "./actions/DeleteCategory";
import { CategoryDialog } from "@/components/admin/categories/CategoryDialog";

const categories = await Astro.callAction(actions.getCategories, {});
---

{
  !categories?.data ? (
    <p class="text-gray-500">No categories found.</p>
  ) : (
    <div class="overflow-x-auto border rounded">
      <table class="w-full text-sm">
        <thead class="bg-gray-100 text-left">
          <tr>
            <th class="p-3">ID</th>
            <th class="p-3">Name</th>
            <th class="p-3">Slug</th>
            <th class="p-3">Created</th>
            <th class="p-3">Action</th>
          </tr>
        </thead>
        <tbody>
          {categories?.data.map((cat) => (
            <tr class="border-t">
              <td class="p-3">{cat.id}</td>
              <td class="p-3">{cat.name}</td>
              <td class="p-3">{cat.slug}</td>
              <td class="p-3">{cat.createdAt?.toISOString().slice(0, 10)}</td>
              <td class="p-3">
                <div class="flex gap-2">
                  <CategoryDialog id={cat.id} name={cat.name} client:idle />
                  <DeleteCategory id={cat.id} client:idle />
                </div>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  )
}
